{% extends "base.html.twig" %}

{% block title %}Add Name {% endblock %}

{% block body %}
<div class="container-fluid mt-3">
   <h2 class="text-center mt-2">Add Name</h2>
   <div class="col-md-6"></div>
      {{ form_start (form) }}
         <div class="form-group">
            {{ form_label (form.name) }}
            {{ form_widget (form.name,
               {
                  'attr' : {'class' : 'form-control'}
               })
            }}
         </div>
         <div class="form-group">
            {{ form_label (form.startdate) }}
            {{ form_widget (form.startdate, 
               {
                  'attr' : {'class' : 'form-control'}
               })
            }}
         </div>
         <div class="form-group">
            {{ form_label (form.enddate) }}
            {{ form_widget (form.enddate,
               {
                  'attr' : {'class' : 'form-control'}
               })
            }}
         </div>

         <div class="form-group">
            {{ form_label (form.subject) }}
            {{ form_widget (form.subject,
               {
                  'attr' : {'class' : 'form-control'}
               })
            }}
         </div>

         </div>
         <div class="form-group text-center mt-3">
            <button class="btn btn-primary" type="submit">ADD</button>
         </div>
      {{ form_end (form) }}
   </div>
</div>

{% endblock %}