{% extends 'base.html.twig' %}

{% block title %} FPT {% endblock %}

{% block body %}
<div class="container">
      <h4 class="text-primary text-center">COURSE MANAGER</h4>
   {% if is_granted('ROLE_ADMIN')%}
      <a class="btn btn-outline-primary" href="{{ path('course_add') }}">ADD COURSE</a>
   {% else %}
   {% endif %}
   <table class="table table-striped text-center">
      <thead>
         <tr>
               <th>ID</th>
               <th>Name</th>
               <th>StartDate</th>
               <th>EndDate</th>
               <th>Subject</th>
            {% if is_granted('ROLE_ADMIN')%}
               <th>Actions</th>
            {% else %}
            {% endif %}
            
         </tr>
      </thead>
      <tbody>
          <tr>
            <td>{{ course.id }}</td>
            <td>{{ course.name }}</td>
            <td>{{ course.startdate|date('d/m/Y') }}</td>
            <td>{{ course.enddate|date('d/m/Y') }}</td>
            <td>
						{% for a in course.subject %}
							<a href="{{ path('subject_detail', {'id': a.id }) }}">
								{{ a.name }}
							</a>
							<br>
						{% endfor %}
            </td>
            {% if is_granted('ROLE_ADMIN')%}
				<td>
               <a class="btn btn-primary" href="{{ path('course_edit', {'id': course.id }) }}">EDIT</a>
               <a class="btn btn-warning" href="{{ path('course_delete', {'id': course.id }) }}"
               onclick="return confirm('Are you sure to delete this course ?')">DELETE</a>
            </td>
            {% else %}
            {% endif %}
         </tr> 
      </tbody>
   </table>
</div>
{% endblock %}
