{% extends 'base.html.twig' %}

{% block title %} FPT {% endblock %}

{% block body %}
<div class="container">
   <h4 class="text-primary text-center">STUDENT MANAGER</h4>
   <a class="btn btn-outline-primary" href="{{ path('student_add') }}">ADD STUDENT</a>
   <table class="table table-striped text-center">
      <thead>
         <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Code</th>
            <th>Price</th>
            <th>Avatar</th>
            <th>Course</th>
            {% if is_granted('ROLE_ADMIN')%}
            <th>Actions</th>
            {% else %}
            {% endif %}
            
         </tr>
      </thead>
      <tbody>
          <tr>
            <td>{{ student.id }}</td>
            <td>{{ student.name }}</td>
            <td>{{ student.birthday|date('d/m/Y') }}</td>
            <td>{{ student.nationality}}</td>
            <td><img src="{{ asset('image/student/'~student.avatar) }}" width="50" height="50"alt="avatar"></td>
            <td>
						{% for a in student.course %}
							<a href="{{ path('course_detail', {'id': a.id }) }}">
								{{ a.name }}
							</a>
							<br>
						{% endfor %}
				</td>

            <td>
                {% if is_granted('ROLE_ADMIN')%}
               <a class="btn btn-primary" href="{{ path('student_edit', {'id': student.id }) }}">EDIT</a>
               <a class="btn btn-warning" href="{{ path('student_delete', {'id': student.id }) }}"
               onclick="return confirm('Are you sure to delete this student ?')">DELETE</a>
            </td>
            {% else %}
            {% endif %}
         </tr> 
      </tbody>
   </table>
</div>
{% endblock %}
