{% extends 'base.html.twig' %}

{% block title %} FPT {% endblock %}

{% block body %}
<div class="container">
   <h4 class="text-primary text-center">SUBJECT MANAGER</h4>
   {% if is_granted('ROLE_ADMIN')%}
   <a class="btn btn-outline-primary" href="{{ path('subject_add') }}">ADD SUBJECT</a>
   {% endif %}
   <table class="table table-striped text-center">
      <thead>
         <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Actions</th>
         </tr>
      </thead>
      <tbody>
      {% for subject in subjects %}
          <tr>
            <td>{{ subject.id }}</td>
            <td>{{ subject.name }}</td>
            <td>
             {% if is_granted('ROLE_ADMIN')%}
               <a class="btn btn-info" href="{{ path('subject_detail', {'id' : subject.id }) }}">DETAIL</a>
               <a class="btn btn-primary" href="{{ path('subject_edit', {'id': subject.id }) }}">EDIT</a>
               <a class="btn btn-warning" href="{{ path('subject_delete', {'id': subject.id }) }}"
               onclick="return confirm('Are you sure to delete this subject ?')">DELETE</a>
            </td>
            {% else %}
               <a class="btn btn-info" href="{{ path('subject_detail', {'id' : subject.id }) }}">DETAIL</a>
            {% endif %}
         </tr>
      {% endfor %}     
      </tbody>
   </table>
</div>
{% endblock %}
